@import url('https://fonts.googleapis.com/css?family=Caveat');
@import url('https://fonts.googleapis.com/css?family=Caveat|Montserrat');
* { margin:0; padding:0; box-sizing:border-box;}
img { 
	width:300px;
	height:300px;
}
body {
	background-color: #383838;
	font-family: Arial, sans-serif;
	font-size:16px;
	line-height:1.3;
}
header {
	background-color: #FFED74;
	border: 1px black solid;
	padding: 20px;
}

.container1 {
	height: 70px
	width: 70px;
}

.container1 img {
	width: 100%;
	height: auto;
}

.logo {
	height: 50px;
	width: 50px;
	padding-bottom: 20px;
}


nav {
	background-color: #ccff74;
	border: 1px black solid;
	padding: 20px;
	}

.hero-image {
	background-image: url(https://i.imgur.com/LRUsuDQ.jpg);
	height: 50%;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
}

.hero-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: black;
}

#two_column {
	background-color: #FFB7CF;
	border: 1px black solid;
	padding: 20px;
}

#about { 
	background-color: violet;
	border: 1px black solid;
	padding: 20px;
	float: left;
	width: 62%;
}

#whyplay {
	background-color: pink;
	border: 1px black solid;
	padding: 20px;
	float: right;
	width: 30%;
}

.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: "  ";
	clear: both;
	height: 0;
}


section { 
	background-color: #FFE2B8;
	border: 1px black solid;
	padding: 20px;
 }

footer {
	background-color: #FFED74;
	border: 1px black solid;
	padding: 20px;
}

section {
	padding:5em 0;
}

h1 {
	font-family: 'Caveat', serif;
	font-size: 2.5em;
	background-color: #A9A9A9;
	text-align: center;
}

h2 {
	font-family: 'Caveat', serif;
	font-size: 2em;
	background-color: #A9A9A9;
}

p {
	font-family: 'Montserrat';
	color: black;
	font-weight: normal;
}

ul {
	font-family: 'Montserrat';
	padding-left:1.25em;
	color: black;
}

li {font-family: 'Montserrat';
	color: black;
	padding-left:1.25em;
}
